<li class="game">
  <img class="game-box" src="<%= item.game.box.medium %>" />
  
  <h3><%= item.game.name %></h3>
  <p>lorem ipsum</p>
  <p class="viewers"><%= item.viewers %></p>
  <p class="channels"><%= item.channels %></p>
</li>